<% layout('layout') -%>

<h1 class="mainTitle">Dashboard R&D</h1>
<div ng-app="dashboardApp">
	<div ng-controller="MainCtrl">
		<div class="row">
			<div class="six columns">
				<div class="block">
					<div class="hd">Sprint burndown charts</div>
					<div class="bd">
						<c3-simple id="burndown" config="burndown"></c3-simple>
					</div>
				</div>
			</div>
			<div class="six columns">
				<div class="block">
					<div class="hd">Issues charts</div>
					<div class="bd">
						<c3-simple id="chart" config="chart"></c3-simple>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="four columns">
				<div class="block bugsBlock">
					<div class="hd"> Open Bugs</div>
					<div class="bd">
						<div class="wrapper">
							<i class="fa fa-bug fa-5x"></i>
							<p ng-cloak>{{ bugs.number }}</p>
						</div>
						<p class="date" ng-cloak>
							<span>Last updated:
							{{ bugs.date  | amDateFormat:'dddd, MMMM Do YYYY'}}</span>
						</p>
					</div>
				</div>
			</div>
			<div class="four columns">
				<div class="block bugsWeek">
					<div class="hd">Bugs this week</div>
					<div class="bd wrapper">
						<div class="left">
							<p><span>{{ bugsWeekly.done || "–" }}</span></p>
							<p>Done</p>
						</div>
						<div class="right">
							<p><span>{{ bugsWeekly.notDone || "–" }}</span></p>
							<p>New</p>
						</div>
					</div>
				</div>
			</div>
			<div class="four columns">
				<div class="block">
					<div class="hd">Projets</div>
					<div class="bd">
						<ul class="projectList">
							<li>Community <span>40%</span></li>
							<li>NeoStats <span>80%</span></li>
							<li>Genius Answers <span>95%</span></li>
							<li>Performance survey <span>40%</span></li>
							<li>Genius Insights <span>20%</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<ul>
	<!-- for(var i=0; i<dataformatted.length; i++) {
            <li>
                 dataformatted[i]
            </li>
         } -->
</ul>
