<% layout('layout') -%>

<h1 class="mainTitle">Dashboard R&D</h1>
<div ng-app="dashboardApp">
	<div ng-controller="MainCtrl">
		<div class="row">
			<div class="six columns">
				<div class="block">
					<div class="hd">Sprint burndown charts</div>
					<div class="bd">
						<c3-simple id="burndown" config="burndown"></c3-simple>
					</div>
				</div>
			</div>
			<div class="six columns">
				<div class="block">
					<div class="hd">Issues charts</div>
					<div class="bd">
						<c3-simple id="chart" config="chart"></c3-simple>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="four columns">
				<div class="block">
					<div class="hd"> Open Bugs</div>
					<div class="bd">
							<div id="mainBin">
						<i class="fa fa-bug fa-5x"></i> {{ bugs.number }}
								{{ bugs.date }}</div></div>
				</div>
			</div>
			<div class="four columns">
				<div class="block">
					<div class="hd">{{ awesomeThings }}</div>
					<div class="bd">{{ awesomeThings }}</div>
				</div>
			</div>
			<div class="four columns">
				<div class="block">
					<div class="hd">{{ awesomeThings }}</div>
					<div class="bd">{{ awesomeThings }}</div>
				</div>
			</div>
		</div>
	</div>
</div>



<ul>
	<!-- for(var i=0; i<dataformatted.length; i++) {
            <li>
                 dataformatted[i]
            </li>
         } -->
</ul>
