<% layout('layout') -%>

<h1 class="mainTitle">Dashboard R&D</h1>
<div ng-app="dashboardApp">
	<div ng-controller="MainCtrl">
		<div class="row">
			<div class="six columns">
				<div class="block">
					<div class="hd">{{ awesomeThings }}</div>
					<div class="bd">
						<div id="burndown"></div>
					</div>
				</div>
			</div>
			<div class="six columns">
				<div class="block">
					<div class="hd">{{ awesomeThings }}</div>
					<div class="bd">
						<div id="chart"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="four columns">
				<div class="block">
					<div class="hd">{{ awesomeThings }}</div>
					<div class="bd">{{ awesomeThings }}</div>
				</div>
			</div>
			<div class="four columns">
				<div class="block">
					<div class="hd">{{ awesomeThings }}</div>
					<div class="bd">{{ awesomeThings }}</div>
				</div>
			</div>
			<div class="four columns">
				<div class="block">
					<div class="hd">{{ awesomeThings }}</div>
					<div class="bd">{{ awesomeThings }}</div>
				</div>
			</div>
		</div>
	</div>
</div>
