<% layout('layout') -%>

<h1 class="mainTitle">Dashboard R&D</h1>
<div ng-app="dashboardApp">
	<div ng-controller="MainCtrl">
		<div class="row">
			<div class="six columns">
				<div class="block">
					<div class="hd">Sprint burndown charts</div>
					<div class="bd">
						<c3-simple id="burndown" config="burndown"></c3-simple>
					</div>
				</div>
			</div>
			<div class="six columns">
				<div class="block">
					<div class="hd">Issues charts</div>
					<div class="bd">
						<c3-simple id="chart" config="chart"></c3-simple>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="four columns">
				<div class="block">
					<div class="hd">{{ awesomeThings }}</div>
					<div class="bd">{{ bugs.number }}</div>
				</div>
			</div>
			<div class="four columns">
				<div class="block">
					<div class="hd">{{ awesomeThings }}</div>
					<div class="bd">{{ awesomeThings }}</div>
				</div>
			</div>
			<div class="four columns">
				<div class="block">
					<div class="hd">{{ awesomeThings }}</div>
					<div class="bd">{{ awesomeThings }}</div>
				</div>
			</div>
		</div>
	</div>
</div>


<h1>test data formatted</h1>
<ul>
   <!-- for(var i=0; i<dataformatted.length; i++) {
        <li>
             dataformatted[i] 
        </li>
     } -->
</ul>
