.block {
    margin: 0 0 20px 0;
    .hd {
        background-color: @backgroundHeader;
        padding: 5px 10px;
        text-transform: uppercase;
        color: @fontColor;
    }
    .bd {
        padding: 15px 10px;
        background-color: @backgroundBlock;
        color: @fontColor;
    }
}
