/*==================*/
/*      LAYOUT      */
/*==================*/
body {
    background-color: @backgroundColor;
    color: @fontColor;
    padding: 20px;
}

.mainTitle {
    color: @white;
    background-color: @backgroundHeader;
    padding: 20px;
    margin: 20px 0;
    text-align: center;
    font-size: 2em;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
